* {
	font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Condensed', sans-serif;
}

.padding-8{ padding:8px;}

.cor-home{color:#777777;}

.strong{font-weight:bold;}

.row-bg-linha {
	background: url(../../unid_01/tema_04/imgs/linha.png) repeat-x;
	background-position: center;
}

.unid-ativa{background-color:#d3d3d3;}
.hover-bold{ font:bold !important}
.background-escuro-row-tabela{background-color:#CECCB7}
.background-claro-row-tabela{background-color:#EBEBDF}

.tabela-espacamento-baixo {
	border-bottom:5px solid white;
}

.prism-espacamento-baixo {
	border-bottom:5px solid #DFDFCE;
}

.background-table-um {
	background:#c7bc9b;
	padding:4px;
}

.background-table-dois {
	background:#ded8c4;
	padding:4px;
}

.paginacao-espaco{ margin-left:-55px !important; margin-top:10px !important;}

.recurso-nutricao {
	background:white; border:1px solid #CABDAF;
	padding:10px 15px 10px 15px;
	overflow-x:hidden;
	max-height:330px;
}

.hack-div-center {
	display:table !important;
	vertical-align:middle;
	min-height: 88px;
}

.cabecalho-tabela {
	background: #605C50;
	text-transform: uppercase;
	color: #FFF;
	font-size:16px;
	padding:8px 10px 8px 10px;
}

.box-tabela{
	background-color:#EBEBDF;
	padding: 10px 12px 10px 12px;
}

.background-circulo {
	/*background:#d3d4b9 !important;*/
	border:3px solid #605c4f !important;
}

.img-hack {
	display:inline !important;
}

.box-circulo {
	border:3px solid #d3d4b9;
	background:white;
	border-radius:50%;
	width:40px;
	height:40px;
	font-size:24px
}

.box-circulo-link {
	color:#605c4f !important;
}

.link-page {
	color:#94955E;
}

.infografico-espaco {
	padding-left:40px;
}

.painel-cor {
	background:#dfdfcd !important;
}

.vcenter {
	font-size:40px;
	display:table !important;
	height:80px;
	color:#CCC;
	/*949561*/
}

.vcontent {
	display:table-cell;
  vertical-align:middle;
  text-align:center;
}

.conclusao-icon {
	color:#94955d;
	font-size:2em;
}

.conclusao-padding {
	padding-top:119px;
}

.tabela-titulo {
	background:#d4d4bb;
	padding:10px;
	text-transform: uppercase;
	color: #615c50;
	border-bottom: 5px solid #fff;
}

.tabela-doenca {
	background:#dfdfce;
	border-bottom:5px solid #FFF;
	text-transform: uppercase;
	padding:3px;
}

.tabela-subtitulo {
	background: #d4d4bb;
	text-transform: uppercase;
	color: #615c50;
	padding:5px;
	border-bottom: 5px solid #fff;
}

.tabela-decisao {
	background: #94955d;
	text-transform: uppercase;
	color: #FFF;
	font-size:12px;
	border-bottom: 5px solid #fff;
}

.box-cor-tema {
	background:#dfdfce; padding:20px;
}

.box-leia-mais {
	background:#dfdfce; padding:20px;
	border-radius:15px;
}


.tabela-espaco {
	border-right:5px solid #fff;
}

.link-page:hover {
	color:#94955E;
}

.capa-padding {
	padding-top: 20px;
}

.pager-control {
	margin-top:0;
}

.pager-control2 {
	margin:0;
}

.capa-bottom {
	border-bottom: 1px solid #EEE;
}

.link-menu {
	color:#333;
	text-decoration:none;
	font-size:14px;
}

.borda-menu {
	border-left: 1px solid #eee;
}

.jumbotron-obj {
	background:#ebebe0;
	padding:15px;
	margin-bottom:10px;
}

.navbar {
	margin-bottom:10px;
}
.label-brasil {
	background:#e6e6e6;
}
.navbar-brasil {
	min-height:25px;
	margin-bottom: 0;
	padding-top: 5px;
	font-size: .8em;
}
.navbar-link-color {
	color:#555;
}
/*
	HEADER
*/
.nuteds-jumbotron {
	background:url("../img/background_header.svg") no-repeat, #D3D3BA;
	background-position: right bottom;
	min-height:110px;
}
.img-nuteds-logo {
	vertical-align: middle !important;
	display: inline-block !important;
	padding-top: 20px;
}
.img-nuteds {
	vertical-align: middle !important;
	display: inline-block !important;
	padding-top: 20px;
}
.titulo-curso {
	color:#FFF;
	font-weight: normal;
	padding-top: 15px;
	margin-top: 20px;
	margin-bottom: 10px;
}

/*
	Content
*/
.content-box {
	border-radius:5px;
	border:1px solid #e6e6e6;
	padding:10px 10px 10px 10px;
	text-align:justify;
	margin-bottom:30px;
}
.titulo-box {
	color:#4d4d4d;
	padding:0 0 10px 0;
	font-size:1.3em;
	font-weight: normal;
	border-bottom: 1px solid #e6e6e6;
}

/*
	Menu
*/
.nuteds-ul {
	margin:0;
	list-style: none;
	padding:0;
}

.nuteds-li-none{
	list-style:none;
	text-decoration:none;
}
.nuteds-li {
	margin-bottom:10px;
}
.menu-link-color {
	color: #4d4d4d;
	text-decoration: none;
}
.menu-link-color:hover {
	color: #4d4d4d;
	text-decoration: none;
}

.menu-espaco {
	padding-left:5px;
}

/*
	Footer
*/
.footer-cf {
	border-top:1px solid #e6e6e6;
	max-height:100px;
	padding:12px;
	margin-top:1%;
}

/*
	Components
*/

.atividade-titulo {
	font-size: 1em;
}

.text-modal {
	font-size: 1.2em;
	color:#8f8f6b;
}


.btn-customized {
  color: #fff;
  background-color: #95955D;
  border-color: #8F8F6B;
}
.btn-customized:hover,
.btn-customized:focus,
.btn-customized:active,
.btn-customized.active,
.open .dropdown-toggle.btn-customized {
  color: #fff;
  background-color: #D5D5BC;
  border-color: #8F8F6B;
}
.btn-customized:active,
.btn-customized.active,
.open .dropdown-toggle.btn-customized {
  background-image: none;
}
.btn-customized.disabled,
.btn-customized[disabled],
fieldset[disabled] .btn-customized,
.btn-customized.disabled:hover,
.btn-customized[disabled]:hover,
fieldset[disabled] .btn-customized:hover,
.btn-customized.disabled:focus,
.btn-customized[disabled]:focus,
fieldset[disabled] .btn-customized:focus,
.btn-customized.disabled:active,
.btn-customized[disabled]:active,
fieldset[disabled] .btn-customized:active,
.btn-customized.disabled.active,
.btn-customized[disabled].active,
fieldset[disabled] .btn-customized.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-customized .badge {
  color: #428bca;
  background-color: #fff;
}
.questionWrong {
	color:red;
	font-weight: bold;
}
.questionRight {
	color:green;
	font-weight: bold;
}

/* Tabela PRISM7 */

.prism-titulo {
	background:#959460;
	padding:5px;
	color:white;
}

.prism-titulo span {
	display:inline;
}

.prism-linha-um {
	background:#c9cac4;
	padding:5px;
	color:#333;		
}

.tabela-padrao-subtitulo text-center {
	background:#e8eeee;
	padding:5px;
	color:#333;		
}

.prism-espaco {
	border-right:5px solid #e0dfcf;
}

.hack-center {
	display:table !important;
	vertical-align:middle;
}

.hack-coracao {
	min-height:588px;
	text-align:center;
}

.table tbody>tr>td.vert-align
{
    vertical-align: middle;
}

.hack-farmacologia-tabela-tamanho {
	min-height: 55px;
}

.hack-remedio {
	min-height: 130px;
}

.hack-livros-u2-t3 {
	min-height: 270px;
} 


/* Tabelas */

.tabela-padrao-titulo {
	background:#615c50;
	padding: 5px;
	color:#EAEADF;
	text-transform: uppercase;
}

.tabela-padrao-subtitulo {
	background:#c0bd98;
	padding: 5px;
	color:#615c50;	
}

.tabela-padrao-conteudo {
	background:#EAEADF;
	padding: 5px;
	color:#615c50;	
}

.tabela-incontinencia-titulo {
	background:#615c50;
	padding: 5px;
	color:#EAEADF;
	font-weight:bold;
}

.tabela-incontinencia-subtitulo {
	background:#c0bd98;
	padding: 5px;
	color:#615c50;	
}

.tabela-incontinencia-conteudo {
	background:#EAEADF;
	padding: 5px;
	color:#615c50;	
	min-height: 110px;
}

.prism-conteudo {
	background:#ebebe0;
	padding: 5px;
	color:#615c50;	
}

.collapse-background-active {
	background:#615c50 !important;
	padding: 5px;
	color:#ebebe0 !important;
	border:0;
}

.collapse-background {
	background:#ceccb7;
	padding: 5px;
	color:#4d4d4d;
	border:0;
}

.collapse-content {
	background:#ebebe0;
	padding: 5px;
	color:#615c50;	
	border:0;
}

.hack-espaco-direita {border-right:5px solid white;}
/*
	Media Queries
*/
@media (max-width: 480px) {
	.img-nuteds {width:100% !important; height:80px;}
	.titulo-curso {text-align: center;box-shadow: 1px 1px 2px #000; background:rgba(0,0,0,0.5); padding: 5px;}
	.margin-left-25 {margin-left:25%;}
	.prism-titulo span {display:none;}
	.prism-hack {display:table !important;vertical-align:middle;min-height:50px;}
	.prism-hack-6 {min-height:70px !important;}
	.hack-farmacologia-tabela-tamanho {min-height:95px;}
	.hack-remedio {min-height: 140px;}
	.hack-livros-u2-t3 {min-height: 150px;}
}

@media (max-width: 630px) {
	.text-menu, .text-learning-menu {display: none;}
	.icon-menu {width: 100% !important; text-align: center;}
	.nuteds-li {padding-top:10px;}
	.img-nuteds {vertical-align: middle;  width:10%; height:20%;}
	.margin-left-25 {margin-left:25%;}
	.display-phone {display:none;}
	.hack-espaco-direita {border-right:0}
}

@media (max-width: 992px) {
		.tabela-espaco-cel {
	border-right:5px solid #fff;
}
	.nuteds-li{float:left; width:25%;}
	.icon-menu {float:left;}
	.text-menu {width: auto !important;padding-top: 12px !important;}
	.img-nuteds {vertical-align:middle; width:112px;}
	.content-box-top {margin-top:30px;}
	.borda-menu {border-left:0 !important; border-top:1px solid #eee;padding-top:15px;}
	.conclusao-padding {padding-top:20px;}
	.hack-coracao {min-height:90px;}
}

@media (max-width: 1200px) {
		.tabela-espaco-cel {
	border-right:5px solid #fff;
}
	.icon-menu{margin:0 auto; width: 45px;}
	.text-menu {padding-top: 5px; width: 100%; text-align: center;}
	.text-learning-menu {padding-top: 5px; width: 100%; text-align: center;}
	.img-nuteds {vertical-align: middle !important;display: inline-block !important; padding-top: 25px; width:100%}
	.infografico-espaco {padding:0;}
	.prism-hack {display:table !important;vertical-align:middle;min-height:50px;}
}

@media (min-width: 1201px) {
		.tabela-espaco-cel {
	border-right:5px solid #fff;
}
	.icon-menu {float: left;}
	.text-menu {float:left; padding:12px 0 0 12px;}
	.text-learning-menu {float:left; padding:3px 0 0 12px;}
	.nuteds-li {margin-bottom: 40px;}
	.nuteds-li:last-child {margin-bottom: 0 !important;}
	.img-nuteds {vertical-align: middle !important;display: inline-block !important; padding-top: 25px; width:100%}
}



/* *****   */

/* hacks */

.padding-left-hack {
  padding-left: 30px;
}

.text-justify {
  text-align: justify;
}

/* Bootstrap Mudanças */

.panel-footer {
  background: #f68c74;
  color:white;
}

.jumbotron-informe {
  margin:0;
  background:#fac5b9;
  padding:15px;
  font-size:1em;
  border:1px solid #f68c74;
}

.brown {
  color:brown;
}

.panel-without-margin {
  margin-bottom:0;
}

.swiper-container, .swiper-wrapper, .swiper-slide, .pagination{
	display: none;
}

.pagination-centered{text-align:center;}


/* Correções Mobile */

@media only screen and (max-width: 768px) {
	.tabela-espaco-cel { 	border-right:0px solid #fff;}
	
	
	#mybook{
		display: none;
	}
	
	.swiper-container, .swiper-wrapper, .swiper-slide, .pagination{
		display: inline-block !important;
	}
	
	.swiper-container {
    	width: 311px;
		height: 450px;
    	color: #fff;
    	text-align: center;
	}

  #geral {
    box-shadow: none;
    border:0;
  }

  .header {
    border-top-right-radius:0;
    border-top-left-radius:0;
    border-bottom: 3px solid #de0500;
  }

  .menu-titulo {
    padding-top:15px;
    font-size:1em;
  }
}

/* Clear */
.clearfix:after {content:".";display:block;     height:0;     clear:both;     visibility: hidden; }
.clearfix {display:inline;} * html .clearfix {height: 1%;} .clearfix {display: block;}

/* TABELA DOS CRÉDITOS */
.cred-titulo{font-size:16px; text-align:left; font-weight:bold;}